.about-container {
    background-color: #c8d2c9;
    color: #14312a;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .about-inner-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .about-inner-container-md {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .about-inner-container-lg {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  
  .about-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-content-md {
    flex-direction: row;
    align-items: flex-start;
  }
  
  .about-image {
    width: 18rem;
    height: 20rem;
    border-radius: 0.5rem;
    object-fit: cover;
    margin-bottom: 2rem;
  }
  
  .about-image-md {
    margin-bottom: 0;
    margin-right: 3rem;
  }
  
  .about-description {
    font-size: 1.125rem;
    margin-bottom: 2rem;
  }
  
  .about-skills {
    margin-bottom: 3rem;
  }
  
  .skill {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .skill-label {
    width: 16.6667%;
  }
  
  .skill-bar {
    flex-grow: 1;
    background-color: #374151; /* gray-800 */
    border-radius: 9999px;
    height: 0.625rem;
    overflow: hidden;
    position: relative;
  }
  
  .skill-bar-inner {
    background-image: linear-gradient(to right, #34d399, #3b82f6); /* from-green-400 to-blue-500 */
    height: 100%;
    border-radius: 9999px;
    width: 83.3333%; /* Default width for HTML & CSS */
    transition: transform 0.3s;
  }
  
  .skill-bar-inner-react {
    width: 80.6667%; /* Width for React JS */
  }
  
  .skill-bar-inner-node {
    width: 50%; /* Width for Node JS */
  }
  
  .skill-bar-inner:hover {
    transform: scale(1.05);
  }
  
  .about-stats {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  .stat-title {
    font-size: 1.5rem;
    font-weight: bold;
    background-image: linear-gradient(to right, #34d399, #3b82f6); /* from-green-400 to-blue-500 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  