.hero-container {
    background-color: #14312a;
    color: white;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .hero-image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 12rem;
    height: 12rem;
    border-radius: 9999px; /* rounded-full */
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .hero-image:hover {
    transform: scale(1.05);
  }
  
  .hero-title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .hero-title-gradient {
    background: linear-gradient(to right, #34d399, #3b82f6); /* from-green-400 to-blue-500 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .hero-description {
    margin-top: 1rem;
    font-size: 1.125rem;
    color: #d1d5db; /* gray-300 */
  }
  
  .hero-buttons {
    margin-top: 2rem;
  }
  
  .hero-button {
    background-image: linear-gradient(to right, #34d399, #3b82f6); /* from-green-400 to-blue-500 */
    color: white;
    transition: transform 0.3s;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 9999px; /* rounded-full */
    margin-right: 1rem;
  }
  
  .hero-button-secondary {
    background-image: linear-gradient(to right, #ec4899, #f59e0b); /* from-pink-500 to-yellow-500 */
  }
  
  .hero-button:hover {
    transform: scale(1.05);
  }
  