.projects-container {
    background-color: #14312a;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .projects-inner-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .projects-inner-container-md {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .projects-inner-container-lg {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  
  .projects-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }
  
  .projects-grid-md {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .projects-grid-lg {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .project-card {
    background-color: #374151; /* gray-800 */
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .project-card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
  
  .project-image {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
  
  .project-name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .project-technologies {
    color: #9ca3af; /* gray-400 */
    margin-bottom: 1rem;
  }
  
  .project-link {
    display: inline-block;
    background-image: linear-gradient(to right, #34d399, #3b82f6); /* from-green-400 to-blue-500 */
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 9999px;
    text-decoration: none;
  }
  